include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include scaffolding *.css
recursive-include scaffolding *.csv
recursive-include scaffolding *.html
recursive-include scaffolding *.ico
recursive-include scaffolding *.js
recursive-include scaffolding *.json
recursive-include scaffolding *.md
recursive-include scaffolding *.png
recursive-include scaffolding *.py
recursive-include scaffolding *.svg
recursive-include scaffolding *.txt
recursive-exclude scaffolding *.pyc